body{
    background-color:#000000;
}

*{
    margin: 0;
    padding: 0;
}


.container{
   position: absolute;
   left: 25%;
   bottom: 25px;
}

header{
    background-color: aquamarine;
}
.main{
    border: 1px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    grid-template-areas: 
    "area1 area2 area3 area3"
    "area4 area5 area5 area6"
    "area7 area8 area9 area9"
    ;
}

.area{
    border: 1px solid rgb(0, 0, 0);
}
#area1{
    
    grid-area: area1;
}
#area2{
    
    grid-area: area2;
}

#area3{
    
    grid-area: area3;
}

#area4{
    
    grid-area: area4;
}

#area5{
    
    grid-area: area5;
}

#area6{
    
    grid-area: area6;
}

#area7{
    
    grid-area: area7;
}

#area8{
    
    grid-area: area8;
}
#area9{
    grid-area: area9;
}

p{
    color: rgb(0, 0, 0);
}
.tarjetas h3 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.tarjetas h3 a{
    text-decoration: none;
    color: black;
}
.tarjetas h3 a:hover{
    text-decoration: underline;
    color:blue;
}
.tarjetas{
    width: 300px;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 30px;
    transition: box-shadow 0.3s ease-in-out;
}
section .tarjetas:hover{
    box-shadow: 2px 10px 10px rgb(0, 0, 0);
}
section .tarjetas img{
    width: 100%;
    height: fit-content;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;

}
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 20px;
}
footer .copy{
    color: #f5f5f5;
}
footer .redes{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}
footer .redes a{
    text-decoration: none;
    color: aliceblue;
    
}
footer .redes a:hover{
    color: blue;
    text-decoration: underline;
}

